@import url('./vendor/css/bootstrap.css');
@import url('./config.css');

::selection {
  color: white;
  background: var(--app-primary);
}

body {
  color: #0b2239;
  background: linear-gradient(
      0deg,
      rgba(110, 65, 226, 0.05),
      rgba(110, 65, 226, 0.05)
    ),
    #ffffff;
}

a,
a:hover {
  color: var(--app-primary);
  text-decoration: none;
}

.icon {
  color: #6666ff;
}

.icon-sm {
  font-size: 18px;
}

.icon-lg {
  font-size: 28px;
}

.icon-xl {
  font-size: 36px;
}

.bg-app-primary {
  background: #6666ff !important;
}

.bg-app-info {
  background: #09b3af !important;
}

.btn-app-primary,
.btn-app-primary:focus,
.btn-app-primary:hover {
  border: none;
  color: white !important;
  background: #6666ff !important;
}

.btn-app-secondary,
.btn-app-secondary:focus,
.btn-app-secondary:hover {
  border: none;
  color: white !important;
  background: rgba(13, 12, 34) !important;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}